/venv
/Lib
/**/__pycache__
src/**/*.xlsx
tst/**/*.xlsx
*~$*.xlsx
/**/data
/**/features
tst*.*
contratos*.json
.env
pyvenv.cfg
packages_to_uninstall.txt
requirements_backup.txt
pytest.ini
/**/node_modules
/**/dist
bndes_tjlp_scraping_data.txt
bndes_tjlp_update.txt
ecosystem.config.js
src/tests/mock_data/empresas_cadti.json
frontend/src/api/Migrations.tsx
/**/queries/

