.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f6f6f8;
    width: 90%;
    margin: 0 auto;
}

.titleContainer {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: 700;
    padding: 0.5rem 0;
}

.cellContainer {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;    
    margin: auto;
    padding-bottom: 1rem;
}

.cell {    
    padding: 0.25rem 0.7rem;
    width: auto;
    font-size: 0.68rem;   
}

.cellTitle {    
    font-weight: 700;
}