.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
    background-color: #DDD !important;
    font-weight: 600 !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
    font-weight: 600 !important;
}
