h1 {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    &-center{
        flex-direction: row;                        
    }
}

.link {
    color: darkblue;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: 500;
}

//Table icons
[data-testid="SearchIcon"] {
    color: rgb(218, 135, 34);    
}
[data-testid="CloudDownloadIcon"] {
    color: rgb(0, 100, 139);    
}
[data-testid="ViewColumnIcon"] {
    color: rgb(205, 75, 149);    
}
[data-testid="FilterListIcon"] {
    color: darkcyan;    }    
